* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(./img/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

body::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.year {
    z-index: -1;
    font-size: 10rem;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.2;
}

h1 {
    font-size: 3rem;
    margin: -80px 0 40px;
}

.countdown {
    display: none;
    /* display: flex; */
    transform: scale(2);
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vw;
}

.time h2,
small {
    font-size: 0.9rem;
}